.gallery {
  /*
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: stretch;
  align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    font: inherit;
    vertical-align: baseline;
    flex-direction: column; 
    padding-bottom: 0px; 
    padding-top: 0px;


    
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  grid-auto-flow: dense;
  */

  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  


    
}
